<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
     <link rel="shortcut icon" href="/../favicon.ico" type="image/x-icon" />
    <link href="~/IndexScript/css/font.css" rel="stylesheet" />
    <link href="~/IndexScript/css/xadmin.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/IndexScript/lib/layui/layui.js"></script>
    <script src="~/IndexScript/js/xadmin.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
