@{
    ViewBag.Title = "HostelNotice";
    Layout = "~/Views/Shared/_LayoutScript.cshtml";
}
@using Dormitory.Controllers;
<div>
 <div class="layui-btn-group" style="padding-top:10px;padding-left:20px">
    <button type="button" class="layui-btn">增加</button>
    <button type="button" class="layui-btn">查看</button>
  </div>
    <hr class="layui-bg-red">
<div style="width:100%;height:900px;margin:auto">
    <h1 style="padding-left:50%">@ViewBag.tit</h1>
    <br />
<p style="font-weight:700;padding-left:43%">@ViewBag.hos</p>
</div>
</div>