@{
    ViewBag.Title = "Hygiene";
    Layout = "~/Views/Shared/_LayoutScript.cshtml";
}
@using Dormitory.Models;
<div class="x-nav">
    <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">寝室管理</a>
        <a>
            <cite>卫生管理</cite></a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height: 1.6em; margin-top: 3px; float: right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height: 30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
    </div>
    <xblock>
        <button class="layui-btn" onclick="x_admin_show('添加用户','/Home/Dis_Add')"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：<span style="color:red">@ViewBag.num</span>条</span>
      </xblock>
    <table id="tab" class="layui-table" lay-data="{url:'/Home/Dispose'}" lay-filter="test">
    </table>
</div>
<script>
    layui.use(['table', 'layer', 'laypage'], function () {
        var layer = layui.layer,
            table = layui.table,
            laypage = layui.laypage;
        //第一个实例
        table.render({
            elem: '#tab'
          , limits: [2, 4, 6, 8, 10]
          , height: 400
          , page: true //开启分页
          , url: '/Home/Hygiene_list' //数据接口
          , cols: [[ //表头
              { field: 'HygieneID', title: '编号', width: 426, height: 100, align: 'center' }
            , { field: 'HygieneType', title: '卫生评定', width: 416, height: 100, align: 'center' }
            , { field: 'DistributionNum', title: '宿舍号', width: 416, height: 100, align: 'center' }
            , { field: 'cz', title: '操作', width: 417, toolbar: '#barDemo', height: 100, align: 'center' }
          ]]
        }); 
        //监听工具条 
        table.on('tool', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
            if (layEvent === 'del') { //删除
                layer.confirm('真的删除行么', function (index) {
                    if (index) {
                        //确认删除时执行
                        $.ajax({
                            url: '/Home/Del',
                            type: 'get',
                            data: { id: data.DistributionID },
                            success: function (res) {
                                if (res == "ok") {
                                    location.replace(location.href);//从新加载该页面
                                } else {
                                    alert("失败")
                                }
                            }
                        })
                        layer.close(index);
                    } else {
                        alert()
                    }
                });
            } 
        });



















    });    

</script>
@*操作按钮*@
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>var _hmt = _hmt || []; (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();
</script>

